@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* ROOT COLORS */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* BODY */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* INPUT */
.input {
  @apply bg-gray-100 p-2 rounded w-full text-sm outline-none focus:ring-2 focus:ring-red-400;
}

/* BUTTONS */
.btn-red {
  @apply bg-red-500 text-white p-3 rounded-lg font-medium active:scale-95 transition;
}

.btn-gray {
  @apply bg-gray-200 p-3 rounded-lg font-medium active:scale-95 transition;
}

.btn-outline {
  @apply border border-dashed border-gray-400 p-2 w-full text-sm rounded hover:bg-gray-100 transition;
}

.np-bar-inner {
  background: #fff;
  border-radius: 14px;
  border: 1px solid #e2d9ce;
  padding: 10px;
  display: flex;
  gap: 10px;
  box-shadow: 0 6px 20px rgba(0,0,0,0.08);
}

.np-bprev {
  flex: 1;
  padding: 10px;
  font-size: 12px;
}

.np-bsave {
  flex: 1.2;
  padding: 10px;
  font-size: 12px;
}